body{
	margin: 0;
	height: 100vh;
}
.section-title{
	text-align: center;
	padding-top: 100px;
	padding-bottom: 50px;

}
.section-title h2{
	font-family: "open sans", sans-serif;
	font-size: 24px;
	font-weight: 400;
    letter-spacing: 30px;
    margin: 0;
}
#blurb{
	position: absolute;
	left: 30px;
	bottom: 10px;
}
#services{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 100px;

}
.card{
	width: 300px;
	float: left;
	margin-left: 30px;
}
.card:first-child{
	margin-left: 0px;
}
.card h4{
	font-family:"open sans", sans-serif;
	text-align: center;
}
.clearfix{
	clear: both;
}
.footsec{
	background-color: #88EBF2;

}
.bottomPortion{
	width: 1000px;
	height: 260px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	padding-bottom: 30px;

}
.part1{
	width: 960px;
}
.part1 img{
	width: 300px;
	margin-right: 20px;
	float: left;

}
.part1 p{
	font-family: "open sans", sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #208389;
	padding-top: 30px;


}
.part2{
	width: 100%;
}
.part2 p{
	font-size: 14px;
	color: #208389;
	clear: right;
}
.part2 img{
	border-style: solid;
	border-color: black;
	border-width: 1px;
}
.part2c:first-child{
	margin-left: 0px;
}
.part2c{
	float: left;
	margin-left: 30px;
	width: 300px;
}
.part3 ul li{
	list-style: none;
	font-family: "open sans", sans-serif;
	font-size: 12px;
	letter-spacing: 3px;
	float: left;
    margin-left: 42px;
    margin-top: 25px;
}
.part3 ul li:first-child{
	margin-left: 30px;

}
.part3 ul li a:hover{
	color: white;
}
.part3 ul li a{
	text-decoration: none;
	color: black;
}
.base{
	background-color: #60a3a9;
	width: 100%;
	padding-top: 10px;
	height: 50px;
}
.inside{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	font-family: "open sans", sans-serif;
	font-size: 12px;
	color: #0d7076;
}
.left{
	float: left;
}
.right{
	float: right;
}
.head{
	font-family: "open Sans", sans-serif;
    background-color: #ddd9d8;
    font-size: 40px;
    font-weight: 400;
    padding: 5px 0 15px 30px;
}
